<header>
  <div class="container">
    <h1>WE    RUN    TOGETHER</h1>
  </div>

  <div class="navigation">
    <!-- Navigation -->
    <nav class=" container navbar navbar-expand-lg navbar-light">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" [routerLink]="['noticias']">Noticias</a>
          <a class="nav-item nav-link" [routerLink]="['carreras']">Proximas Carreras</a>
          <a class="nav-item nav-link" [routerLink]="['tiendas']">Tiendas</a>
          <a class="nav-item nav-link trigger-btn" href="#myModal"  data-toggle="modal">Iniciar Sesion</a>

        </div>
      </div>
    </nav>
  </div>
  
</header>