<header class="container-fluid row">
 


      <div class='col-6 titulo'>
          <a [routerLink]="['index']"><h1>WE    RUN    TOGETHER</h1></a>
    </div>
    
    <!-- Navigation -->

    <nav class=" col-6 navbar navbar-expand-lg navbar-light">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          <a class="nav-item nav-link" [routerLink]="['noticias']">Noticias</a>
          
          <a class="nav-item nav-link" [routerLink]="['carreras']">Proximas Carreras</a>
          
          <a class="nav-item nav-link trigger-btn" *ngIf="loginService.mostrar" href="#myModal"  data-toggle="modal" >Iniciar Sesion</a>
          
          <a class="nav-item nav-link" *ngIf="loginService.mostrar" [routerLink]="['registro']">Registro</a>
          
          <a class="nav-item nav-link" *ngIf="loginService.noMostrar" [routerLink]="['weruntogether']">Quedadas</a>
          
          <a class="nav-item nav-link" *ngIf="loginService.noMostrar" [routerLink]="
          ['perfil']">Perfil</a>

          <a class="nav-item nav-link" *ngIf="loginService.noMostrar" (click)='closedSession()'>Cerrar Sesion</a>

        </div>
      </div>
    </nav>
    
</header>