nav{
	
	margin:0 auto!important;
	background-color: #D2C66D

}
nav div div a{

	padding: 25px 35px!important;
	font-size: 1.5em;
	
}

nav div div a:hover{

	background-color:#7FDC72;
	color: black !important;
	
}

.navbar-brand{
	padding-left: 15px;
	padding-right: 15px;
}	
.container{
	padding: 0;
	margin: 0 auto !important;
}
h1{
	font-family: 'Monoton', cursive;
	font-size: 3.5em;
	padding: 15px 0;
	text-align: center;
	background-color: black;
	margin: 0 auto;
	color: #7FDC72;

}
.navbar-light .navbar-nav .nav-link {
	color: white;
	text-align: center
}


