/* .close{
	cursor: pointer;
	color: white !important

} */
nav{
	

	background-color: #485460

}
.titulo{
	padding:0px;
	
}
nav div div a{

	padding: 25px!important;
	font-size: 1.3em;
	
}

nav div div a:hover{

	background-color: #ffdd59;
	color: #3C4545;
	transition: 0.7s;
	border-radius: 5px;
	
}

.navbar-brand{
	padding-left: 15px;
	padding-right: 15px;
}	

h1{
	font-family: 'Monoton', cursive;
	font-size: 2.5em;

	text-align: left;
	background-color: #485460;
	margin: 0;
	color : #ffdd59;
	
	

}
a{
	text-decoration: none;
	color: #ffdd59
}
.navbar-light .navbar-nav .nav-link {
	color: white;
	text-align: center;
	font-weight: 900;
	cursor: pointer;
}


.container-fluid{
	padding: 0;
	margin: 0px
}
header{
	position: fixed;
	z-index: 9999999;
}
@media (max-width: 576px) {
	h1{
		font-size: 150%;    
		padding: 19px!important;
	
	}
	
	
}


