

.footer{
	background-color:  #3C4545;
	box-sizing: border-box;
	padding: 25px
}
a{
	cursor: pointer;
	color: white !important;

}
a:hover {
	color: #ffdd59 !important;
}

.logos {
margin: 0 auto;
padding: 20px;
}
span{
	font-size: 1em;
	color: white
}
.footer-copyright{
	margin: 0 auto;
	padding: 20px;
}