<div class="container footer">
  <footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
  

      <!-- Grid column -->
      <div class="col-md-12 mx-auto py-5">
        <div class="mb-5 text-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <fa name="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </fa>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <fa name="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </fa>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <fa name="fab fa-google fa-lg white-text mr-md-5 mr-3 fa-2x"> </fa>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <fa name="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </fa>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <fa name="fab fa-pinterest fa-lg white-text fa-2x"> </fa>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright: by Jymmy

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>