.text-center {
	text-align: center !important;
	color: white
 

}
.pb-5, .py-5 {
	padding-bottom: 1rem !important;
	padding-top: 1rem  !important;
	line-height: 78px;
}

.mb-5, .my-5 {
	margin-bottom: 0 !important;
	padding-top: 25px;
}

.footer{
	background-color:  #D2C66D
}
a{
	cursor: pointer;
	color: white !important;

}
a:hover {
	color:#7FDC72 !important;
}
