<div class="container-fluid  footer">
  <footer class="page-footer row font-small cyan darken-3">

    <!-- Footer Elements -->


    <!-- Grid row-->


    <!-- Grid column -->
    
      <div class="col-md-6 row ">
        <div class='logos'>
        <!-- Facebook -->
        <a class="fb-ic">
          <fa name="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </fa>
        </a>
        <!-- Twitter -->
        <a class="tw-ic">
          <fa name="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </fa>
        </a>
        <!-- Google +-->
        <a class="gplus-ic">
          <fa name="fab fa-google fa-lg white-text mr-md-5 mr-3 fa-2x"> </fa>
        </a>
        <!--Instagram-->
        <a href="https://www.instagram.com/?hl=es" class="ins-ic">
          <fa name="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </fa>
        </a>
        <!--Pinterest-->
        <a class="pin-ic">
          <fa name="fab fa-pinterest fa-lg white-text fa-2x"> </fa>
        </a>
      </div>
    </div>
    <!-- Grid column -->


    <!-- Grid row-->

    
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright col-md-5 text-center"><span>© 2018 Copyright: by Jymmy</span>

    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  
</div>
