<div class="container">

  <form novalidate class="well form-horizontal" id="contact_form" [formGroup]="form" (ngSubmit)="updateSubmit()"
    *ngIf="form">


    <!-- Form Name -->
    <legend>
      <h2 class="perfil">Perfil</h2>
    </legend><br>

    <!-- <div class="row">

      <div class="col-5 photoperfil">
        <div class="photo">


        </div>

        <div class="form-group input-group">
          <div class="col-md-12 col-xl-12"><br>
            <input type="file">
            <div class="imagen">
              imagen
            </div>
          </div>
        </div>
      </div> -->

    <div class="col-12 perfil">
      <fieldset>

        <div class="form-group input-group">
          <div class=" offset-md-1 offset-xl-2 col-md-4 col-xl-3 control-label"><label>Email</label> </div>
          <div class=" col-md-4 col-xl-4 inputGroupContainer">
            <input formControlName="email" class="form-control" type="email">

          </div>
        </div>


        <div class="form-group input-group">
          <div class=" offset-md-1 offset-xl-2 col-md-4 col-xl-3 control-label"><label>Usuario</label> </div>
          <div class=" col-md-4 col-xl-4 inputGroupContainer">
            <input formControlName="usuario" class="form-control" type="text">

          </div>
        </div>

        <!-- Text input-->

        <!-- Button actualizar -->
        <div class="form-group input-group">
          <div class="col-md-12 col-xl-12"><br>
            <button type="submit" class="col-xl-6 btn btn-warning">Actualizar datos<span
                class="glyphicon glyphicon-send"></span></button>
          </div>
        </div>

        <!-- Button borrar -->
        <div class="form-group input-group">
          <div class="col-md-12 col-xl-12"><br>

            <button (click)='delUser()' class="col-xl-6 btn btn-delete">Borrar Usuario<span
                class="glyphicon glyphicon-send"></span></button>
          </div>
        </div>

      </fieldset>
    </div>



  </form>
</div>
