#success_message {
  display: none;
}

fieldset {
  padding-bottom: 35px;
}

.input-group {
  margin-bottom: 10px;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

label {
  padding: 10px;
  font-weight: 900;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  color: black
}

.btn-warning:hover {
  background-color: #ffdd59;
  color: #485460;
  transition: 0.7s
}

.btn-warning {
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  width: 302px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #485460;
  border: 1px solid black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.3em;
  color: #ffdd59;

}

.btn-delete:hover {
  background-color: #485460;
  color: #ffdd59;
  transition: 0.7s
}

.btn-delete {
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  width: 302px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffdd59;
  border: 1px solid black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.3em;
  color: #485460;

}

.photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: aqua;
  margin: 0 auto;
  margin-bottom: 25px
}

h2.perfil {
  padding: 25px;
  font-size: 3em;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
