#success_message{ display: none;}
.container{
    margin-top: 50px;
    margin-bottom: 50px;
}
label{
    font-weight: 700
}
.btn-warning:hover{
    background-color: #6DA2D2 !important;
   
    border-color: #6DA2D2;
    color: black;
    
}
.btn-warning {
	color: white;
	background-color: #70C5C0;
	border-color: #70C5C0;
}

.photo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: aqua;
    margin:0 auto;
    margin-bottom: 25px
}
