<div class="container">


  <!-- BUSCADOR -->

  <form novalidate class="col-12 well form-horizontal " id="contact_form" [formGroup]="formBuscador"
    *ngIf="formBuscador">
    <div id="buscador" class="row col-md-12 ">
      <p class="col-12 pbuscador">Buscador</p>
      <div class="input col-6">

        <label>Dia</label>

        <input class="form-control dia" (change)="filtrarDia()" formControlName="buscadorDia" type="date">

      </div>

      <div class="col-6">

        <label>Distancia</label>

        <select class="form-control my-2" (change)='filtrarDistancia()' formControlName="buscadorDistancia">

          <option selected value="distancia">Distancia por la que filtrar</option>

          <option value="menos de 5 km">Menos de 5km</option>

          <option value="5km a 10km">Desde 5 a 10 km</option>

          <option value="mas de 10km">Mas de 10 km</option>

          <option value="10km a 21km">Desde 10 hasta 21 km</option>

        </select>
      </div>
    </div>
  </form>



  <!-- BLOG -->

  <div id="blog" class=" col-12 blog">

    <h2>Por que salir solo, sal en buena compañia. Comparte tu lugar y hora</h2>
    <p class="activacion"><small>Acuerdate de activar la geolocalizacion</small></p>
    <div class="post col-10 my-5">

      <div *ngFor="let pos of AllPost" class="row onePost my-5 col-12">
          <div class="row">
              <div><img class="close" src="../../assets/close.png" (click)="deletePost(pos.eventoId)" alt=""></div>
              <div class="usuario col-2 my-3">
            
                <fa id="icons" name="fas fa-user"></fa>
                <p>{{pos.usuario}}</p>
              </div>
            
              <div class="col-10 descripcion my-3">
            
                <a [routerLink]="['/comentarios',pos.eventoId]">
            
                  <h2 id="titulo">El dia {{pos.formularioDia | date:"dd/MM/yyyy"}}</h2>
                   
                </a>
            
            
                <p> Buenas estare a las {{pos.formularioHora }}. La distancia sera de {{pos.formularioDistancia}}.
                </p>
            
                <p>{{pos.formularioMensaje}}</p>
            
                <div col-12>
                    <img class="col-12" src="https://maps.googleapis.com/maps/api/staticmap?center={{pos.latitude}},{{pos.longitud}}&zoom=16&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C{{pos.latitude}},{{pos.longitud}}&key=AIzaSyCsfD7R9a5zeVCisKnbWYbfKBh5lYpZC28" alt="">
                </div>
            
            
            
              </div>
      </div>

    </div>
  </div>
  </div>
 
  <!-- FORMULARIO -->

  <div id="formulario" class="form col-md-12 col-12">

    <form novalidate class="well form-horizontal" id="contact_form" [formGroup]="formPost" (ngSubmit)="guardarNewPost()"
      *ngIf="formPost">

     
      <div class="row my-3">
         
        <div class="input col-6">

          <label>Dia</label>

          <input class="form-control" formControlName="formularioDia" type="date">

        </div>

        <div class="input col-6">
          <label>Hora</label>
          <input class="form-control" formControlName="formularioHora" type="time">

        </div>


      </div>

      <div class="input">

        <label>
          Lugar
        </label>

        <div class="row justify-content-center map">

          <input class="form-control" type="text" id="inputPlace">

          <div class="maps col-12" #googleMap style='width:900px; height:600px'>
          </div>

        </div>

        <label>
          Distancia
        </label>

        <select class="form-control " formControlName="formularioDistancia">

          <option value="">Distancia que tienes pensado correr</option>

          <option value="menos de 5 km">Menos de 5km</option>

          <option value="5km a 10km">Desde 5 a 10 km</option>

          <option value="mas de 10km ">Mas de 10 km</option>

          <option value="10km a 21km">Desde 10 hasta 21 km</option>

        </select>

        <div class="mensaje">

          <label>
            Mensaje
          </label>

          <textarea class="form-control" formControlName="formularioMensaje" placeholder="Me acompañas en el recorrido?"
            name="" id="" cols="50" rows="10">
          </textarea>

          <p><small>Acuerdate de activar la geolocalizacion</small></p>

        </div>


      </div>

      <input class="btn btn-primary enviar col-6" type="submit">


    </form>
  </div>

</div>