<div class="container-fluid">

  <img class="foto-noticias col-12" src="../../assets/noticias/noticia(17).jpg" alt="">

</div>


<div class="container titulo-noticias ">
  <div class="titulo-noticias">
    <h2 class="titulo">Carreras</h2>
  </div>
</div>

<div class="filtradodecarreras container-fluid">

  <div class="filtro container">

    <form novalidate id="contact_form" [formGroup]="form" (ngSubmit)="getFiltersRace()">


      <div class="col12 container row">
        <div class="filtrodistancia col-xl-6 col-xs-12">

          <label>Distancia Min</label> <select formControlName="min" class="col-12 form-control selectpicker">
            <option value=''>Selecciona tu distancia minima</option>
            <option value="5000">Desde 5km</option>
            <option value="10000">Desde 10km</option>
            <option value="15000">Desde 15km</option>
            <option value="21000">Desde 21km</option>
          </select>

          <label>Distancia Max</label> <select formControlName="max" class="col-12 form-control selectpicker">

            <option value="">Selecciona tu distancia maxima</option>
            <option value="10000">hasta 10km</option>
            <option value="15000">hasta 15km</option>
            <option value="21000">hasta 21km</option>
            <option value="43000">hasta 42km</option>
          </select>
        </div>
        <div class="col-xl-6 col-xs-12">
          <label>Día</label>
          <input class="form-control selectpicker " formControlName="date" type="date">

          <label>Tipo de carrera</label>
          <select formControlName="type" class="form-control selectpicker " id="type">
            <option value="">Elije que tipo de carrera</option>
            <option value="asfalto">Asfalto</option>
            <option value="tierra">Tierra</option>
            <option value="obstaculos">Obstáculos</option>

          </select>


        </div>

        <div class="col-xl-6 col-xs-12">
          <label>Ciudad</label>
          <input placeholder='Elije la ciudad que quieres' class="col-12 form-control ciudad selectpicker" formControlName="city" type="text">
        </div>

        <div class=" col-xl-6 col-xs-12 inputGroupContainer">
          <label>Provincia</label>


          <select formControlName="province" class="form-control selectpicker">
            <option value="">Seleciona tus provincia</option>
            <option value='AB'>Albacete</option>

            <option value='AR'>Alava</option>
            <option value='A'>Alicante</option>
            <option value='AL'>Almeria</option>
            <option value='AS'>Asturias</option>
            <option value='AV'>Avila</option>
            <option value='BA'>Badajoz</option>
            <option value='B'>Barcelona</option>
            <option value='BU'>Burgos</option>
            <option value='CC'>Caceres</option>
            <option value='CA'>Cadiz</option>
            <option value='CT'>Cantabria</option>
            <option value='CS'>Castellon</option>

            <option value='Ce'>Ceuta</option>
            <option value='CR'>Ciudad Real</option>
            <option value='CO'>Cordoba</option>
            <option value='CU'>Cuenca</option>
            <option value='Pi'>Formentera</option>
            <option value='Fu'>Fuerteventura</option>

            <option value='Gc'>Gran Canaria</option>
            <option value='GI'>Gerona</option>
            <option value='GR'>Granada</option>
            <option value='GU'>Guadalajara</option>
            <option value='GK'>Guipuzcoa</option>
            <option value='H'>Huelva</option>
            <option value='HU'>Huesca</option>

            <option value='J'>Jaen</option>
            <option value='C'>La Coruña</option>
            <option value='RI'>La Rioja</option>
            <option value='Lp'>Las Palmas</option>

            <option value='Lz'>Lanzarote</option>
            <option value='LE'>Leon</option>
            <option value='L'>Lerida</option>
            <option value='LU'>Lugo</option>
            <option value="M">Madrid</option>
            <option value='Ma'>Mallorca</option>
            <option value='MG'>Malaga</option>
            <option value='Me'>Menorca</option>
            <option value='MU'>Murcia</option>

            <option value='NA'>Navarra</option>
            <option value='OU'>Orense</option>
            <option value='P'>Palencia</option>
            <option value='PO'>Pontevedra</option>
            <option value='SA'>Salamanca</option>
            <option value='Segovia'>Segovia</option>
            <option value='SE'>Sevilla</option>
            <option value='SO'>Soria</option>
            <option value='TE'>Teruel</option>
            <option value='T'>Tarragona</option>
            <option value='Tf'>Tenerife</option>
            <option value='TO'>Toledo</option>
            <option value='V'>Valencia</option>
            <option value='VA'>Valladolid</option>
            <option value='VI'>Vizcaya</option>
            <option value='Z'>Zamora</option>
            <option value='ZA'>Zaragoza</option>
          </select>
        </div>

      </div>

      <button type="submit" class="col-xl-4 col-xs-8 btn btn-primary">Filtrar</button>

    </form>
  </div>
</div>

<div class="container-fluid filtradodecarreras">

  <div class="container  descripcionCarreras">

    <div class="carreras row col-12" *ngFor="let car of carrerasAll">

      <div class="dia col-xl-3 col-xs-12">

        <strong>{{ car.date | date:"dd/MM"}} </strong>

      </div>
      <div class="carreraDescripcion col-xl-7 col-sm-12">

        <p class="carrer col-sm-12 col-12 ">
          <strong class="col-xl-3 col-sm-12">Nombre: </strong><span class="col-xl-9 col-sm-12"> {{ car.name}}</span>

        </p>

        <p class="carrer col-xl-12 "><strong class="col-xl-3">Distancia: </strong> <span
            class="col-xl-9">{{ car.distance}} </span></p>

        <p class="carrer col-sm-12 col-12 ">

          <strong class="col-xl-3">Ciudad: </strong><span class="col-9">{{ car.city}}</span>

        </p>

        <p class="carrer col-sm-12 col-12"><strong class="col-md-3 col-sm-12">Tipo de Carrera: </strong><span
            class="col-9 col-sm-12"> {{ car.type}}</span></p>


      </div>
      <div (click)="postFavoritos(car.id)" class="favoritos col-xl-2" id="{{car.id}}">
        <img  class="classTrue" src="./../../assets/favoritos.png" alt="">
        <img  class="classFalse"  src="./../../assets/favoritosLleno.png"> 
      </div>
      
    </div>

  </div>

</div>