<div id="quedadas"  class="container-fluid">

  <img class="foto-noticias col-12" src="../../assets/noticias/noticia (16).jpg" alt="">

</div>



<div class="container col-xl-12 ">
  <h2 id="quedada">Quedada</h2>
</div>

<div *ngFor="let pos of AllPost" class="row container-fluid onePost">

  <div class="post container" *ngIf="!AllPost?.length == 0">


    <div class="row">
      <div class="usuario col-xl-2 col-12  ">

        <img src="../../assets/iconfinder_user_male2_172626.png" alt="">

        <label>{{pos.usuario | uppercase}}</label>
        <label>{{pos.formularioDia | date:"dd/MM/yyyy"}}</label>
        <label>{{pos.formularioHora }}</label>
        <label>{{pos.formularioDistancia}}</label>
        <div *ngIf='AllPost?.token === tokenUsuario'>

        

        </div>
      </div>

      <div class="col-xl-10 col-12 descripcion">

        <div class="mensaje">
          <span class="mensaje">{{pos.formularioMensaje}}</span>

        </div>





        <div class="col-12 mapas">
          <img class="col-12 "
            src="https://maps.googleapis.com/maps/api/staticmap?center={{pos.latitude}},{{pos.longitud}}&zoom=16&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C{{pos.latitude}},{{pos.longitud}}&key=AIzaSyCsfD7R9a5zeVCisKnbWYbfKBh5lYpZC28"
            alt="">
        </div>



      </div>
    </div>

  </div>
</div>




<!-- PINTAR COMENTARIOS -->
<div class="container-fluid">
  <div *ngIf="!allComent?.length == 0" class="post pintarcomentario container ">

    <div *ngFor="let coment of allComent">
      <div *ngIf='allComent.token== tokenUsuario'></div>
      <div class="comentario">
        <div class="row">
          <div class="usuario col-xl-2 ">

            <img src="../../assets/iconfinder_user_male2_172626.png" alt="">

            <label>{{coment.usuario | uppercase}}</label>
            <i class="fas fa-trash borrar" (click)="deleteComent(coment.id)"></i>
            
            
          </div>


          <div class="col-xl-10 descripcion">

            <div class="comentarios">
              <span class="comentarios">{{coment.comentarios}}</span>

            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
  <!-- ESCRIBIR COMENTARIO -->

  <div class="row comentarios">
    <div class="col-12 col-xl-12 escribirpost">
      <p class="label">Escribe tu comentarios</p>
      <textarea class="comentarios primary col-xl-7"   #mensaje  placeholder="Escribe tu comentario" rows="5">

   </textarea>

      <button (click)="saveComentario(mensaje.value)" class="btn btn-primary enviar col-9 col-xl-6" type="submit">Guardar
        Comentario</button>
    </div>

  </div>