<div class="container">


  <div *ngFor="let pos of AllPost" class="onePost my-5 col-12">
    <div class="post row">

      <div class="usuario col-2 my-3">

        <i id="icons" clas="fas fa-user"></i>
        <p>{{pos.usuario | uppercase}}</p>
      </div>

      <div class="col-10 descripcion my-3">



        <h2 id="titulo">El dia {{pos.formularioDia | date:"dd/MM/yyyy"}}</h2>



        <p> Buenas estare a las {{pos.formularioHora}}. La distancia sera de {{pos.formularioDistancia}}.
        </p>

        <p>{{pos.formularioMensaje}}</p>

        <div col-12>
          <img class="col-12"
            src="https://maps.googleapis.com/maps/api/staticmap?center={{pos.latitude}},{{pos.longitud}}&zoom=16&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C{{pos.latitude}},{{pos.longitud}}&key=AIzaSyCsfD7R9a5zeVCisKnbWYbfKBh5lYpZC28"
            alt="">
        </div>




      </div>



    </div>
    <!-- PINTAR COMENTARIOS -->
    <div *ngIf="!allComent?.length == 0" class="post pintarcomentario">
      
      <div *ngFor="let coment of allComent">
          <div *ngIf='allComent.token== tokenUsuario'><img class="close" src="../../assets/close.png" (click)="deleteComent(coment.id)" alt=""></div>
     <div class="comentario">
        <div class="descomentario"><strong>"{{coment.comentarios}}"</strong></div>
        <hr>
      <div class="usercoment">{{coment.usuario | uppercase}}</div>
 
     </div>


      </div>
    </div>

      <!-- ESCRIBIR COMENTARIO -->


      <div class="escribirpost">
        <h3>Escribe tu comentarios</h3>
        <textarea class="comentarios primary" #mensaje cols="80" rows="5">

   </textarea>

        <button (click)="saveComentario(mensaje.value)" class="btn btn-primary enviar col-6" type="submit">Guardar
          Comentario</button>
      </div>


    
  </div>