<div class="container-fluid">
  
    <img class="foto-noticias col-12" src="../../assets/noticias/noticia (14).jpg" alt="">
 
</div>
<div class="contenedor">
<h2 class="tituloNoticias">Noticias</h2>

<div class="row">

  <a name='titulares'></a>
  <div class="titulares row col-12">

    <div *ngFor="let not of noticias" class="my-3 col-4 noticias" (click)="selecionarNoticia(not)">

      <div class="imagen-noticia">
        <img class="col-12 imagen" src="../../assets/noticias/noticia (7).jpg" alt="">
      </div>

      <div class="titulo">
        <p class="tituloNoticia" [innerHtml]="not.title"></p>
      </div>

    </div>

  </div>
  <hr class="col-12">
  <div class="descripcionNoticia col-12 my-5" *ngIf='noticia_selecionada'>

    <p class="contenido_noticia" [innerHtml]="noticia_selecionada.description">

    </p>
    <div>
      <div class="up justify-content-end">
        <a href="#titulares"><img class="up col-12" src="../../assets/up.png"></a>
      </div>
    </div>
  </div>
</div>
</div>