<div class="container">
    <h2 class="tituloNoticias">Noticias</h2>
   <div class="row">
     <div class="titulares col-5">
       <div *ngFor="let not of noticias" class="col-12 noticias" (click)="selecionarNoticia(not)">
        <div class="titulo">
         <p class="tituloNoticia" [innerHtml]="not.title"></p>
       </div >
     </div>
    </div>

<div class="descripcionNoticia col-7 my-5" *ngIf='noticia_selecionada'>
  <p class="contenido_noticia" [innerHtml]="noticia_selecionada.description"></p>
</div>
 </div>
</div>