<div>
  <div class="container-fluid">
    <span id="titulares"></span>
    <img class="foto-noticias" src="../../assets/noticias/noticia (14).jpg">

  </div>


  <div class="pregunta" *ngIf="mostrar">
    <form novalidate class="well form-horizontal" id="" [formGroup]="respuestasForm"
      (ngSubmit)="guardarRespuestas($event)">

      <div class="container col-md-12 ">
        <h2 id="buscador">Danos tu opinion</h2>
      </div>
      <div class="container-fluid" *ngFor="let pre of AllPregunta">

        <div class="container-fluid preguntas">
          <div class="container frases">


            <h2 class="label">{{pre.pregunta}}</h2>



            <label class="opciones">
              <input formControlName="opciones" onclick="btnForm.disabled = !this.checked" type="radio" name='opciones'
                class="btn btn-primary respuesta" value="1">{{pre.opcion1}}
            </label>
            <label class="opciones">
              <input formControlName="opciones" onclick="btnForm.disabled = !this.checked" type="radio" name='opciones'
                class="btn btn-primary respuesta" value="2">{{pre.opcion2}}
            </label>
            <label class="opciones">
              <input formControlName="opciones" onclick="btnForm.disabled = !this.checked" type="radio" name='opciones'
                class="btn btn-primary respuesta" value="3">{{pre.opcion3}}
            </label>
            <label class="opciones">
              <input formControlName="opciones" onclick="btnForm.disabled = !this.checked" type="radio" name='opciones'
                class="btn btn-primary respuesta" value="4">{{pre.opcion4}}
            </label>
          </div>

          <div class="container"><br>
            <input type="submit" name="btnForm" disabled class="col-xl-6 btn btn-warning"><span
              class="glyphicon glyphicon-send"></span>
          </div>

        </div>


      </div>

    </form>
  </div>


  <div *ngIf="noMostrar">
    <div class="container col-md-12 ">
      <h2 id="buscador">Resultados</h2>
    </div>
    <div class="resultados">
      <p>Esto son lo resultados de las votaciones hasta el momentos</p>
    </div>
    <div class="datos">
      <h2>{{pregunta}}</h2>
    </div>
    <div class="row">

      <div class="col-xl-4 estadisticas">

        <h3 class="pregunta">{{AllPreguntaOpcion}}</h3>
        <h4>{{allDato}} votos</h4>

        <h3 class="pregunta1">{{AllPreguntaOpcion1}}</h3>
        <h4>{{allDato1}} votos</h4>

        <h3 class="pregunta2">{{AllPreguntaOpcion2}}</h3>
        <h4>{{allDato2}} votos</h4>

        <h3 class="pregunta3">{{AllPreguntaOpcion3}}</h3>
        <h4>{{allDato3}} votos</h4>

        <!-- <div>
              <button class="btn" [routerLink]="['foro']">Volver al foro</button>
            </div> -->
      </div>


      <div class="chart col-xl-8">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
        </canvas>
      </div>

    </div>

    <p>Gracias por participar, ahora puedes defender tu opinion dejando un comentario</p>

    <!-- PINTAR COMENTARIOS -->


    <div class="container-fluid">

      <div *ngIf="!(allComentForo?.length == 0)" class="post pintarcomentario container ">
        <h3 class="h3comentarios">Comentarios</h3>

        <div *ngFor="let coment of allComentForo">

          <div class="row comentario">
            <div class="usuario col-xl-2 ">

              <img src="../../assets/iconfinder_user_male2_172626.png" alt="">

              <label>{{coment.usuario}}</label>
              <i class="fas fa-trash borrar" (click)="deleteComent(coment.id)"></i>


            </div>


            <div class="col-xl-10 descripcion">

              <div class="comentarios">
                <span class="comentarios">{{coment.comentario}}</span>

              </div>
            </div>



          </div>
        </div>

      </div>
      <!-- ESCRIBIR COMENTARIO -->

      <div class="row comentarios" *ngIf="noMostrarToken">
        <div class="col-12 col-xl-12 escribirpost">
          <p class="label">Escribe tu comentarios</p>
          <textarea class="comentarios primary col-xl-7" #mensaje placeholder="Escribe tu comentario" rows="5">

          </textarea>

          <button (click)="saveComentario(mensaje.value)" class="btn btn-primary enviar col-9 col-xl-6"
            type="submit">Guardar
            Comentario</button>
        </div>

      </div>
    </div>

  </div>
  <!-- [disabled]="form.invalid" -->