
  <div class=" container-fluid">
    <div>
    <img class="foto-portada"  src="../../assets/portada.jpg" alt="">
    </div>
    <div class="cómo-funciona">
        <h3>¿Como funciona?</h3>

    </div>
    <div class="descripcion">
      <ul>
        <li><div class="circulo"><span><strong class="numeros">1</strong></span></div><span><p>Registrate  <strong><a [routerLink]="['/registro']">aqui</a></strong> y no corras mas solo. </p></span></li>
        
        <li><div class="circulo"><span><strong class="numeros">2</strong></span></div><span><p>Busca tu quedada, si no la encuentras publica una nueva. </p></span></li>
        
        <li><div class="circulo"><span><strong class="numeros">3</strong></span></div><span><p>Unete a una quedada o espera que otros se una a la tuya.</p></span></li>

        
        <li><div class="circulo"><span><strong class="numeros">4</strong></span></div><span><p>Ya solo queda disfrutar de tu hobby en compañia </p></span></li>

      </ul>
     
    </div>
  </div>
