#success_message {
  display: none;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.inputGroupContainer {
  margin-bottom: 10px;
}

label {
  font-weight: 700
}

.input-group {
  margin-bottom: 0px;
}

.btn-warning:hover {
  background-color: #ffdd59;
  color: #485460;
  transition: 0.7s
}

.btn-warning {

  margin: 54px auto;
  background-color: #485460;
  padding: 25px;
  border: 1px solid black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.3em;
  color: #ffdd59;

}
